<!--%if desc%-->
<table class="brand_desc">
	<tr class="top">
		<td class="width1"><img src="<!--%image%-->" alt="<!--%brand_name%-->" style="border: 1px solid #dedede;"></td>
		<td class="width1">&nbsp;</td>
		<td><!--%desc%--></td>
	</tr>
</table>
<!--%end if desc%-->
<!--%cats%-->
<!--%if body%-->
<a id="body" class="yakor"></a>
<div class="clearfix" style="padding-top: 30px;">
	<table class="brand_desc">
		<tr class="top">
			<td class="width1"><img src="<!--%image%-->" alt="<!--%brand_name%-->" style="border: 1px solid #dedede;"></td>
			<td class="width1">&nbsp;</td>
			<td style="color: #000;"><!--%body%--></td>
		</tr>
	</table>
</div>
<!--%end if body%-->